*{  
    margin: 0px;
    font-family: "rubik";
}

#menusuperior{
  background-image: url(imagens/Ponta_Grossa_2019.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center
}

#moto{
  width: 300px;
  margin: 50px;
}

#titulo{
  margin-left: 350px;
  margin-top: -270px;
  font-size: 90px;
  margin-bottom: 5px;
  background: #dbdf00a9;
  background: linear-gradient(to right, #dbdf00e5 3%, #000000 14%, #000000 19%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

#subtitulo{
  margin-left: 350px;
  padding-bottom: 60px;
  color: rgb(255, 230, 0);
  font-size: 25px;
  text-shadow: 2px 2px 2px black;
  background: none;
}

#somos{
  padding: 20px;
  color: white;
  font-family: serif;
  text-align: center;
  background-color: #004FA3;
}
 
#servicos{
  padding: 50px;
  padding-top: 120px;
  font-size: 27px;
  font-weight: 100;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 4px;
  background-color: rgb(163, 163, 163);
}

#tabelavalor{
  color: black;
  background-color: black;
  font-weight: 450;
  border-color: black; 
  border-radius: 5px;
}

#valores{
  background-color: #00346b;
  padding-bottom: 50px;
  padding-left: 10px;
  margin: 4px;
}

#area{
  color: yellow;
}

#apresentacao1{
  background-color: #000000;
  display: grid;
  grid-auto-flow: column; 
}

#whats{
  margin-left: 35%;
}

#formulario{
  text-align: center;
  padding-top: 30px;
  background-color: #48a0ff;
  padding-bottom: 20px;
}

#tituloformulario{
  font-size: 45px;
}

#retornamos{
  font-size: 28px;
}

#form{
  font-weight: 500;
}


.titulotabela{
  color: blue;
  background-color: rgb(253, 255, 116);
  text-shadow: 1px 1px 1px black;
}

.tabeladentro{
  background-color: yellow;
  font-family: cursive;
}

.tabelavalor{
  margin-left: 0px;
  margin-top: 20px;
  color: white;
}

input{
  margin: 5px;
  width: 150px;
  height: 30px;
  border: 0px;
  border-radius: 5px;
  padding-left: 5px;
}

button{
  background-color: yellow;
  height: 40px;
  width: 200px;
  color: #00346b;
  font-size: 20px;
  border: 0;
  border-radius: 5px;
  font-weight: bolder;
  cursor: pointer;
}

button:hover{
  background-color: rgb(255, 255, 44);
  color: #114781 ;
  transform: translateY(-4px);
  box-shadow: 0px 15px 20px #234e7c;
}