*{  
    margin: 0px;
    font-family: "rubik";
}

#menusuperior{
  background-color: #eeeeee;
}

#moto{
  width: 300px;
  margin: 50px;
}

#titulo{
  margin-left: 350px;
  margin-top: -270px;
  font-size: 90px;
  margin-bottom: 5px;
  background-color: #000000;
  background: linear-gradient(to right, #fd7014 3%, #393e46 14%, #222831 19%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

#subtitulo{
  margin-left: 350px;
  padding-bottom: 60px;
  color: #fd7014;
  font-size: 25px;
  text-shadow: 2px 2px 2px black;
  background: none;
}

#somos{
  padding: 20px;
  color: #222831;
  font-family: serif;
  text-align: center;
  background-color: #fd7014;
}
 
#servicos{
  padding: 50px;
  padding-top: 120px;
  font-size: 27px;
  font-weight: 100;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 4px;
  background-color: #222831;
  color: #eeeeee;
}

#tabelavalor{
  color: black;
  background-color: black;
  font-weight: 200;
  border-color: black; 
  border-radius: 5px;
  font-size: 180%;
}

#valores{
  background-color: #eeeeee;
  padding-bottom: 50%;
  padding-left: 10%;
  margin: 4px;
}

#area{
  color: #eeeeee;
}

#apresentacao1{
  background-color: #000000;
  display: grid;
  grid-auto-flow: column; 
}

#whats{
  margin-left: 35%;
}

#formulario{
  text-align: center;
  padding-top: 30px;
  background-color: #393e46;
  padding-bottom: 20px;
  color: #fd7014;
}

#tituloformulario{
  font-size: 45px;
}

#retornamos{
  font-size: 28px;
}

#form{
  font-weight: 500;
}


.titulotabela{
  color: #eeeeee;
  background-color: #393e46;
  text-shadow: 0px 1px 1px black;
  font-family: initial;
}

.tabeladentro{
  background-color: #eeeeee;
  font-family: jura ;
}

.tabelavalor{
  margin-left: 0px;
  margin-top: 20px;
  color: #222831;
}

input{
  margin: 5px;
  width: 150px;
  height: 30px;
  border: 0px;
  border-radius: 5px;
  padding-left: 5px;
}

button{
  background-color: #fd7014;
  height: 40px;
  width: 200px;
  color: #ffffff;
  font-size: 20px;
  border: 0;
  border-radius: 5px;
  font-weight: bolder;
  cursor: pointer;
}

button:hover{
  background-color: #fa7c28;
  color: #ffffff ;
  transform: translateY(-4px);
  box-shadow: 0px 15px 20px #4e4e4e;
}